# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Temporary files
*.tmp
*.bak
